<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>proxy</title>
    <link rel="icon" type="image/jpg" size="100x100" href="../static/timg.jpg"/>
    <style>
        body{
            background-color: snow;
        }
        h2{
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        li.each-list{
            margin: 20px 0px;
            font-size: 16px;
            font-style:italic;
        }
        li a{
            font-size: 15px;
            color: deepskyblue;
        }
        a:link{
            text-decoration-line: none;
        }
    </style>
</head>
<body>
<div>
    <h2>Ip Pool</h2>
    <ul>
        <li class="each-list">Database from <a href="https://www.kuaidaili.com/" target="_blank">kuaidai</a> ,the type is http.</li>
        <li class="each-list">Api can support available ip,you may visit <a href="http://localhost:5000/kuaidai/random" target="_blank">http://localhost:5000/kuaidai/random</a> get one for target spider.
        <li class="each-list">Proxy count <a href="http://localhost:5000/kuaidai/count" target="_blank">http://localhost:5000/kuaidai/count</a>.</li>
    </ul>
</div>
</body>
</html>